/* Menu Title */

.menu_h3 {
    font-size: 25px;
    margin: 15px auto;
    padding: 10px 5%;
    border-bottom: 1px solid #000;
    text-align: center;
    width: 40%;
    margin: 15 auto 25px auto;
}

/* Buttons */

.menu_div_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.menu_btn {
    text-decoration: none;
    margin-right: 15px;
    padding: 6px 4px 4px 4px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid transparent;
    color: #000;
    cursor: pointer;
    transition: 0.5s;
}

.menu_btn:hover {
    transition: 0.5s;
    border-bottom: 1px solid #000;
}

/* Menu List */

.menu_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu_box {
    margin: 10px;
}

.menu_div {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #1D1F21;
    transition: 0.5s;
    cursor: pointer;
}

.menu_div:hover {
    transition: 0.5s;
    box-shadow: 0 0 15px #636363;
}


.menu_div div {
    margin: auto;
}

.menu_h4 {
    text-align: center;
    width: 50%;
    margin: 0 auto 25px auto;
    font-size: 22px;
    padding: 6px 0px;
    border-bottom: 1px solid #000;
}

.menu_img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.menu_div_description {
    width: 90%;
    text-align: center;
}

.menu_price {
    font-size: 18px;
}